[client]
name = {{ cookiecutter.__project_slug }}
prefix = ::
description = {{ cookiecutter.__project_slug }}
guild_id = ${GUILD_ID}

[discord]
; Although it is possible to set directly your discord token here, we recommend, for security reasons, that you set
; your discord token as an environment variable called 'DISCORD_TOKEN'.
token = ${DISCORD_TOKEN}
